//
// Panels
// --------------------------------------------------


// Base class
.panel {
    border-top: 10px solid #666;
    &.panel-primary {
        border-top-color: @blue
    }
    .panel {
        border: none;
    }
    .panel-footer {
        background-color: #e6ebef
    }
}
